.mh-300-px {
  max-height: 300px;
}


/*
Media query manager

0-600px :   Phone
600-100px:  Tablet portrait
1000-1200px: Tablet landscape
1200-1800px: Normal desktops
1800px-...: Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > partials
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content;} //600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 50em) {@content;} //800px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 62.5em) {@content;} //1000px
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 87.5em) {@content;} //1400px
    }
}

html {
  @include respond(tab-land) {
    // width < 1200?
    font-size: 87.5%; //1 rem = 10px 10px/16px = 56.25%
  }
  //@include respond(tab-port) {
  //  // width < 900?
  //  font-size: 87.5%; //1 rem = 8px 8px/16px = 50%
  //}
  @include respond(big-desktop) {
    // width > 1200?
    font-size: 100%; //1 rem = 14px 14px/16px = 75%
  }
}

.img-cover{
  object-fit: cover;
}