// 
// user-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
// $body-bg: #12263F;


@font-face {
    font-family: 'Tisa Sans Pro Black';
    src: url('../fonts/tisa/TisaSansPro-BlackItalic.eot');
    src: local('Tisa Sans Pro Black Italic'), local('../fonts/tisa/TisaSansPro-BlackItalic'),
        url('../fonts/tisa/TisaSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-BlackItalic.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-BlackItalic.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Tisa Sans Pro';
    src: url('../fonts/tisa/TisaSansPro-Bold.eot');
    src: local('Tisa Sans Pro Bold'), local('../fonts/tisa/TisaSansPro-Bold'),
        url('../fonts/tisa/TisaSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-Bold.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-Bold.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Sans Pro Med';
    src: url('../fonts/tisa/TisaSansPro-MediumItalic.eot');
    src: local('Tisa Sans Pro Medium Italic'), local('../fonts/tisa/TisaSansPro-MediumItalic'),
        url('../fonts/tisa/TisaSansPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-MediumItalic.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-MediumItalic.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Tisa Sans Pro ExtBd';
    src: url('../fonts/tisa/TisaSansPro-ExtraBoldItalic.eot');
    src: local('Tisa Sans Pro Extra Bold Italic'), local('../fonts/tisa/TisaSansPro-ExtraBoldItalic'),
        url('../fonts/tisa/TisaSansPro-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Tisa Sans Pro';
    src: url('../fonts/tisa/TisaSansPro-BoldItalic.eot');
    src: local('Tisa Sans Pro Bold Italic'), local('../fonts/tisa/TisaSansPro-BoldItalic'),
        url('../fonts/tisa/TisaSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-BoldItalic.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-BoldItalic.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Tisa Sans Pro';
    src: url('../fonts/tisa/TisaSansPro-LightItalic.eot');
    src: local('Tisa Sans Pro Light Italic'), local('../fonts/tisa/TisaSansPro-LightItalic'),
        url('../fonts/tisa/TisaSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-LightItalic.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-LightItalic.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Tisa Sans Pro ExtBd';
    src: url('../fonts/tisa/TisaSansPro-ExtraBold.eot');
    src: local('Tisa Sans Pro Extra Bold'), local('../fonts/tisa/TisaSansPro-ExtraBold'),
        url('../fonts/tisa/TisaSansPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-ExtraBold.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-ExtraBold.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Sans Pro Med';
    src: url('../fonts/tisa/TisaSansPro-Medium.eot');
    src: local('Tisa Sans Pro Medium'), local('../fonts/tisa/TisaSansPro-Medium'),
        url('../fonts/tisa/TisaSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-Medium.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-Medium.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Sans Pro';
    src: url('../fonts/tisa/TisaSansPro-Black.eot');
    src: local('Tisa Sans Pro Black'), local('../fonts/tisa/TisaSansPro-Black'),
        url('../fonts/tisa/TisaSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-Black.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-Black.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Tisa Sans Pro';
    src: url('../fonts/tisa/TisaSansPro-Regular.eot');
    src: local('Tisa Sans Pro Regular'), local('../fonts/tisa/TisaSansPro-Regular'),
        url('../fonts/tisa/TisaSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-Regular.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-Regular.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Sans Pro ExtLt';
    src: url('../fonts/tisa/TisaSansPro-ExtraLightItalic.eot');
    src: local('Tisa Sans Pro ExtLt Ita'), local('../fonts/tisa/TisaSansPro-ExtraLightItalic'),
        url('../fonts/tisa/TisaSansPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-ExtraLightItalic.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Tisa Sans Pro';
    src: url('../fonts/tisa/TisaSansPro-Light.eot');
    src: local('Tisa Sans Pro Light'), local('../fonts/tisa/TisaSansPro-Light'),
        url('../fonts/tisa/TisaSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-Light.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-Light.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Sans Pro ExtLt';
    src: url('../fonts/tisa/TisaSansPro-ExtraLight.eot');
    src: local('Tisa Sans Pro Extra Light'), local('../fonts/tisa/TisaSansPro-ExtraLight'),
        url('../fonts/tisa/TisaSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-ExtraLight.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-ExtraLight.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Sans Pro';
    src: url('../fonts/tisa/TisaSansPro-Italic.eot');
    src: local('Tisa Sans Pro Italic'), local('../fonts/tisa/TisaSansPro-Italic'),
        url('../fonts/tisa/TisaSansPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/tisa/TisaSansPro-Italic.woff2') format('woff2'),
        url('../fonts/tisa/TisaSansPro-Italic.woff') format('woff'),
        url('../fonts/tisa/TisaSansPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

$font-family-sans-serif: 'Tisa Sans Pro', sans-serif !default;

