//
// user.scss
// Use this to write your custom SCSS
//

@media screen and (min-width: 768px) {
  .max-width-1-md {
    max-width: 10rem;
  }

  .max-width-2-md {
    max-width: 20rem;
  }

  .max-width-3-md {
    max-width: 30rem;
  }

  .max-width-4-md {
    max-width: 40rem;
  }

  .max-width-5-md {
    max-width: 50rem;
  }
}


.font-condensed{
  font-family: 'Kenyan-Coffee', sans-serif;
}


html, body {
    max-width: 100%;
    //overflow-x: hidden;
}

.modal-title{
  font-size: 1rem;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";
